/* note general */

section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../img/white-stripe-repeat-bg.jpg);
}

section:nth-child(2n) {
    background: white;
}




/* note fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    font-family: 'Roboto', sans-serif;
    color: #555;
}


/* note jumbotron */

.jumbotron h1 {
    font-size: 30px;
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.jumbotron-content {
    margin: 0;
}


.jumbotron {
    padding-bottom: 0;
    padding-top: 35px;
}



#jumbotron-img {
    background-size: cover;
}

.item-1 {
    background-size: cover;
}

.right.carousel-control,
.left.carousel-control,
.carousel-indicators {
    display: none;
}


.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}

strong {
    font-size: 24px
}

ol {
    list-style: disc;
    font-size: 20px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #003555;
    text-align: center;
}

#contact {
    color: white;
}

.email {
    color: white;
    font-size: 20px;
}

.social-links a {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    background-color: #013ca6;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.fa-twitter {
    color: #0091cd;
    background-color: white;
}

.fa-linkedin {
    background-color: #146eb4;
}

#scrollTopBtn {
    width: 50px;
    height: 50px;
    background-color: #0093ff;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}

#scrollTopBtn.scroll {
    display: block;
}

#scrollTopBtn:hover,
#scrollTopBtn:focus {
    text-decoration: none;
    outline: none;
}
